<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../src/cipher.js" defer></script>
    <title>Cipher</title>
</head>
<body>
    <h1>Caesar Cipher</h1>

        <input type="text" name="input" id="plaintext">
        <input type="submit" value="Cipher away!" id="caesarCipher">

    <p id="ciphertext"></p>

    <h1>Vigenere Cipher</h1>

    <label for="input">Plaintext</label>
    <input type="text" name="input" id="plaintextVig">
    <label for="key">Key</label>
    <input type="text" name="key" id="key">
    <input type="submit" value="Cipher away!" id="vigCipher">

    <p id="ciphertextVig"></p>
</body>
</html>